html, body, .vBoxes{
    min-height: 100%;
}

header{
    display: inline-flex;
    background-color: rgba(0, 0, 256, 0.4);
    padding: 5px;
    width: 100%;
    height: 100px;
}
header img{
    max-width: 40px;
    object-fit: cover;
}
.vBoxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 30px;
    margin-left: 20px;
}