<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/individualStatic/base2.css">
    <title>MySS</title>
</head>
<body>
    <header>
        <img src="../static/imgs/mru-icon.png" alt="mru logo">
        <h3>MySS</h2>
    </header>
    <div class="vBoxes">
        <div id="welcomeBox">
            <h1> Welcome To My Student Schedule!</h1>
            <form action="http://10.239.48.93:5000/login" method="post">
                <input type="submit" value="login">
            </form>
        </div>
        <div id="welcomeDescription">
            <div>
                <img src="../static/imgs/HomePageExample.png" alt="img of an example schedule">
            </div>
            <div>
                <h2>The ultimate student schedule builder!</h2>
                <p>
                    organize, plan, and develop your most perfect student schedule! MySS allows you to search for available courses, 
                    develop mock schedules to your liking, and finally register your schedule directly to the university!
                </p>
            </div>
        </div>

    </div>
    
</body>
</html>