<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/SubClassStatic/authstyle.css">
    <link rel="stylesheet" href="../static/individualStatic/login.css">
    <title>MySS Login</title>
</head>
<body>
    <header>
        <img src="../static/imgs/mru-icon.png" alt="mru logo">
        <h3>MySS</h2>
    </header>

    <form action="{{url_for('WorkSpace')}}" method="post">
        <input type="text" id="uname" name="uname" placeholder="Username (MRU email)" class="userInfo" required>
        <input type="text" id="upass" name="upass" placeholder="Password" class="userInfo" required>
        <input type="submit", value="Sign In" id="signIn">
    </form>
    <p id="errorcode">{{error}}</p>
    <p>Click <a href="{{url_for('register')}}">here</a> to create an account</p>
</body>
</html>