<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/SubClassStatic/SHubStyle.css">
    <link rel="stylesheet" href="../static/individualStatic/SR.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../static/imgs/mru-icon.png" alt="mru logo">
        <h3>MySS</h2>
        <form action="{{url_for('StudentHome')}}" method="post">
            <button type='submit' name='authKey' value='{{authKey}}' class='tabbutton' id='HPButton'>Home Page</button>  
        </form>
        <form action="{{url_for('StudentScheduleBuilder')}}" method="post" >
            <button type='submit' name='authKey' value='{{authKey}}' class='tabbutton' id='SBButton'>Schedule Builder</button>
        </form>
        <form action="{{url_for('StudentRegister')}}" method="post" >
            <button type='submit' name='authKey' value='{{authKey}}' class='tabbutton' id='CRButton'>Course Registration</button>
        </form>
        <form action="{{url_for('logout')}}" method="post">
            <button type='submit' name='authKey' value='{{authKey}}' class='tabbutton' id='LOButton'>logout</button>
        </form>
    </header>
    <div id="SRBox">
        <div id="ScheduleRegister">
            {{activeScheduleView|safe}}
        </div>
        <div id="courseSummary">
            {{courseSummaryView|safe}}
        </div>
        <div id="additionalInfo">
            <p><a href="https://catalog.mtroyal.ca/content.php">Please click this message if you want addition GNED Course information</a></p>
        </div>
    </div>
</body>
</html>