#SBBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 10px;
}

.courseSpot{
    grid-row: span 2;
    background-color: white;
    margin-left: 10px;
    border-bottom: 1px gray solid;
    border-radius: 10px;
}

.searchCourseSpot{
    grid-row: span 2;
    grid-column: span 2;
     background-color: white;
    margin-right: 10px;
    border-bottom: 1px gray solid;
    border-radius: 10px;
    min-height: 60px;
}

#searchBar{
    grid-column: span 2;
    background-color: white;
    margin-right: 10px;
    border-bottom: 1px gray solid;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    display: flex;
}

#activeSchedule{
    grid-column: span 2;
    grid-row: span 3;
    background-color: white;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    border-bottom: 1px gray solid;
    border-radius: 10px;
}

#SBButton{
    border: 0px;
    background-color: rgb(240, 240, 240);
}

.tuesday{
    grid-column: 2;
    background-color: pink;
}

.wednesday{
    grid-column: 3;
    background-color: aqua;
}

.thursday{
    grid-column: 4;
    background-color: brown;
}

.monday{
    grid-column: 1;
    background-color: red;
}

.courseBox{
    display: flex;
    padding: 8px;
    align-items: stretch;
    flex-direction: column;
    min-height: 60px
}

.courseTitleBox{
    background-color: aquamarine;
    height: 20px;
}

#searchCourse{
    width: 300px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 10px;
}

#searchBar img{
    margin-left: 10px;
    margin-right: 5px;
    height: 35px;
    object-fit: cover;
}